@model ProductVM
@{
    ViewBag.Title = "ProductList";

}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading"><h2>Ürünler Sayfası</h2></header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn green">
                                @Html.ActionLink("Ürün Ekle", "AddProduct") <i class="icon-plus"></i>
                            </button>
                        </div>
                        @*@using (Html.BeginForm("Search", "Product", new { area = "Manager" }, FormMethod.Get))
                        {
                            @Html.TextBox("search")<input type="submit" value="Search">


                        }*@


                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Save as PDF</a></li>
                                <li><a href="#">Export to Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>Ürün Resmi</th>
                                <th>ID</th>
                                <th>Ürün İsmi</th>
                                <th>Ürün Fiyatı</th>
                                <th>Ürün Stok</th>
                                <th>Ürün Kategori</th>
                                <th>Ürün Tedarikçi</th>
                                <th>Özellikler</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Kaldır</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Product item in Model.PagedProducts)
                            {
                                <tr class="">
                                    <td><img width="30" height="30" title="@item.ProductName" src="@item.ImagePath" /> </td>
                                    <td>@item.ID</td>
                                    <td>@item.ProductName</td>
                                    <td>@item.UnitPrice</td>
                                    <td>@item.UnitInStock</td>
                                    @if (item.Category == null)
                                    {
                                        <td>Kategori Belirtilmemiş</td>
                                    }
                                    else
                                    {
                                        <td>@item.Category.CategoryName</td>
                                    }
                                    @if (item.Supplier == null)
                                    {
                                        <td>Tedarikçi Belirtilmemiş</td>
                                    }
                                    else
                                    {
                                        <td>@item.Supplier.SupplierName</td>
                                    }

                                    @if (item.Features == null)
                                    {
                                        <td>Özellik belirtilmemiş</td>
                                    }
                                    else
                                    {
                                        <td>@item.Features</td>
                                    }

                                    <td class="hidden-phone">@item.Status</td>

                                    @*<td><a class="edit" href="javascript:;">Edit</a></td>

                        <td><a class="delete" href="javascript:;">Delete</a></td>*@

                                    <td>@Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                                    <td>@Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }, new { @class = "btn btn-success" })</td>

                                    <td>@Html.ActionLink("Kaldır", "DestroyProduct", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>                       
                    <div class="pagination__wrapper">
                        <ul class="pagination">
                            @if (TempData["proID"] != null)
                            {
                                <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ProductList", new { page, categoryID = TempData["proID"] }))</li>
                            }
                            else
                            {
                                <li>@Html.PagedListPager(Model.PagedProducts, page => Url.Action("ProductList", new { page }))</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->