@model CartPageVM
@{
    ViewBag.Title = "CartPage";
}

<main class="bg_gray">
    <div class="container margin_30">
        <div class="page_header">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="@Url.Action("ShoppingList","Shopping")">Home</a></li>
                    <li>Cart Page</li>
                </ul>
            </div>
            <h1>Cart page</h1>
        </div>
        <!-- /page_header -->
        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Subtotal
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach (CartItem item in Model.Cart.Sepetim)
                {
                    <tr>
                        <td>
                            <div class="thumb_cart">
                                <img src="img/products/product_placeholder_square_small.jpg" data-src="@item.ImagePath" class="lazy" alt="Image"/>
                            </div>
                            <span class="item_cart">@item.Name</span>
                        </td>
                        <td>
                            <strong>@item.Price</strong>
                        </td>
                        <td>
                            <strong>@item.Amount</strong>
                        </td>
                        <td>
                            <strong>@item.SubTotal</strong>
                        </td>
                        <td class="options">
                            <a href="@Url.Action("DeleteFromCart",new { id=item.ID})"><i title="Delete" class="ti-trash"></i></a>
                            <a href="@Url.Action("AddToCartCartPage",new { id=item.ID})"><i title="Add" class="ti-shopping-cart"></i></a>

                        </td>
                    </tr>
                    
                }
            </tbody>
           
        </table>

        <div class="row add_top_30 flex-sm-row-reverse cart_actions">
            <div class="col-sm-4 text-right">
                <button type="button" class="btn_1 gray">@Html.ActionLink("Update Cart","ShoppingList")</button>
            </div>
        </div>
        <!-- /cart_actions -->

    </div>
    <!-- /container -->

    <div class="box_cart">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <ul>
                        <li>
                            <span>Subtotal</span>@Model.Cart.TotalPrice
                        </li>
                        <li>
                            <span>Shipping</span> Free
                        </li>
                        <li>
                            <span>Total</span> @Model.Cart.TotalPrice
                        </li>
                    </ul>
                    <a href="@Url.Action("SiparisiOnayla")" class="btn_1 full-width cart">Proceed to Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /box_cart -->

</main>
<!--/main-->
