@model StorageOrderDetailVM
@{
    ViewBag.Title = "StorageOrderDetailList";
}



<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading"><h2>Ambar Ürün Sipariş Detayı Sayfası</h2><h3>Sipariş ID'lerini karşılaştırabileceğiniz Ambar Ürün Sipariş sayfasına gitmek için @Html.ActionLink("Tıklayınız", "StorageOrderList", "StorageOrder")</h3></header>

            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn green">
                                @Html.ActionLink("Sipariş Detayı Ekle", "AddStorageOrderDetail") <i class="icon-plus"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Save as PDF</a></li>
                                <li><a href="#">Export to Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>Ambar Sipariş ID</th>
                                <th>Ambar Ürün ID</th>
                                <th>Toplam Fiyat</th>
                                <th>Ağırlık</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Kaldır</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (StorageOrderDetail item in Model.StorageOrderDetails)
                            {
                                <tr class="">
                                    <td>@item.StorageOrderID</td>
                                    <td>@item.StorageID</td>
                                    <td>@item.TotalPrice</td>
                                    <td>@item.Weight</td>
                                    <td class="hidden-phone">@item.Status</td>

                                    @*<td><a class="edit" href="javascript:;">Edit</a></td>

                                        <td><a class="delete" href="javascript:;">Delete</a></td>*@

                                    <td>@Html.ActionLink("Sil", "DeleteStorageOrderDetail", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                                    <td>@Html.ActionLink("Güncelle", "UpdateStorageOrderDetail", new { id = item.ID }, new { @class = "btn btn-success" })</td>

                                    <td>@Html.ActionLink("Kaldır", "DestroyStorageOrderDetail", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
