@model PAVM
@{
    ViewBag.Title = "BlogList";
}

<main class="bg_gray">
    <div class="container margin_30">
        <div class="page_header">
            <h1>Farming &amp; Market Blog</h1>
        </div>
        <!-- /page_header -->
        <div class="row">
            <div class="col-lg-12">
                <div class="widget search_blog d-block d-sm-block d-md-block d-lg-none">
                </div>
                <!-- /widget -->
                <div class="row">
                    @foreach (Blog item in Model.PagedBlogs)
                    {
                        <div class="col-md-6">
                            <article class="blog">
                                <figure>
                                    <a href="@Url.Action("BlogDetail","Page",new { id = item.ID})">
                                        <img src="@item.ImagePath" alt="">
                                        <div class="preview"><span>Read more</span></div>
                                    </a>
                                </figure>
                                <div class="post_info">
                                    <h2><a href="@Url.Action("BlogDetail","Page",new { id = item.ID})">@item.Title</a></h2> <!--ayrıntılı posta giden href eklemek lazım-->
                                    <p>@item.Description</p>
                                </div>
                            </article>
                            <!-- /article -->
                        </div>
                        <!-- /col -->
                    }
                </div>
                <!-- /row -->

                <div class="pagination__wrapper no_border add_bottom_30">
                    <ul class="pagination">
                        
                            <li>@Html.PagedListPager(Model.PagedBlogs, page => Url.Action("BlogList", new { page }))</li>
                        
                    </ul>
                </div>
                <!-- /pagination -->

            </div>
            <!-- /col -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!--/main-->
