@model StorageOrderVM
@{
    ViewBag.Title = "AddStorageOrder";
}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading"><h2>Ambar Ürün Ekleme Sayfası</h2></header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    @using (Html.BeginForm("AddStorageOrder", "StorageOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Ambar Sipariş Adresi</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(x => x.StorageOrder.ShippedAddress, new { @class = "form-control genislik", placeholder = "Sipariş Adresi Giriniz" })
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Şehir</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(x => x.StorageOrder.ShippedCity, new { @class = "form-control genislik", placeholder = "Şehir Giriniz" })
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Ülke</label>
                                            <div class="col-sm-4">
                                                @Html.TextBoxFor(x => x.StorageOrder.ShippedCountry, new { @class = "form-control genislik", placeholder = "Ülke Giriniz" })
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Müşteri</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(x => x.StorageOrder.CustomerID, new SelectList(Model.Customers, "ID", "FirstName"), "Lütfen Seçiniz")
                                            </div>
                                        </div>

                                        <br /> <br />

                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Kargo/Nakliye</label>
                                            <div class="col-sm-4">
                                                @Html.DropDownListFor(x => x.StorageOrder.ShipperID, new SelectList(Model.Shippers, "ID", "ShipperName"), "Lütfen Seçiniz")
                                            </div>
                                        </div>

                                        <br /><br />

                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button class="btn btn-primary">
                                                   Ambar Sipariş Ekle
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
