@model StorageVM
@{
    ViewBag.Title = "StorageList";
}




<h3>Stok Ürün eklemek için @Html.ActionLink("Tıklayınız", "AddStorage")</h3>
<br />
<br />
<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th class="hidden-phone">Ürün Resmi</th>
                    <th class="hidden-phone">Ürün İsmi</th>
                    <th class="hidden-phone">Ürün Fiyatı</th>
                    <th class="hidden-phone">Toplam Ağırlık</th>
                    <th class="hidden-phone">Ürün Kategori</th>
                    <th class="hidden-phone">Ürün Tedarikçi</th>
                    <th class="hidden-phone">Durum</th>
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Güncelle</th>
                    <th class="hidden-phone">Kaldır</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Storage item in Model.Storages)
                {
                    <tr class="gradeX">
                        <td><img width="30" height="30" title="@item.ProductName" src="@item.ImagePath" /> </td>
                        <td>@item.ProductName</td>
                        <td>@item.UnitInPrice</td>
                        <td>@item.TotalWeight</td>
                        @if (item.StorageCategory == null)
                        {
                            <td>Stok Kategorisi Belirtilmemiş</td>
                        }
                        else
                        {
                            <td>@item.StorageCategory.StorageCategoryName</td>
                        }
                        @if (item.Supplier == null)
                        {
                            <td>Tedarikçi Belirtilmemiş</td>
                        }
                        else
                        {
                            <td>@item.Supplier.SupplierName</td>
                        }

                        <td class="hidden-phone">@item.Status</td>

                        <td class="center hidden-phone">@Html.ActionLink("Sil", "DeleteStorage", new { id = item.ID }, new { @class = "btn btn-danger" })</td>

                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateStorage", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                        <td class="center hidden-phone">@Html.ActionLink("Kaldır", "DestroyStorage", new { id = item.ID }, new { @class = "btn btn-dark" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

