@model StorageCategoryVM
@{
    ViewBag.Title = "StorageCategoryList";
}


<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <section class="panel">
            <header class="panel-heading"><h2>Ambar Kategori Sayfası</h2></header>
            <div class="panel-body">
                <div class="adv-table editable-table ">
                    <div class="clearfix">
                        <div class="btn-group">
                            <button id="editable-sample_new" class="btn green">
                                @Html.ActionLink("Ambar Kategori Ekle", "AddStorageCategory") <i class="icon-plus"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                Tools <i class="icon-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">Print</a></li>
                                <li><a href="#">Save as PDF</a></li>
                                <li><a href="#">Export to Excel</a></li>
                            </ul>
                        </div>
                    </div>
                    <br />
                    <div class="space15"></div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Ambar Kategori</th>
                                <th>Açıklama</th>
                                <th>Durum</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                                <th>Kaldır</th>
                            </tr>
                        </thead>
                        <tbody>
                           @foreach (StorageCategory item in Model.StorageCategories)
                            {
                                <tr class="gradeX">
                                    <td>@item.ID</td>
                                    <td>@item.StorageCategoryName</td>
                                    <td>@item.StorageDescription</td>
                                    <td>@item.Status</td>

                                    <td>@Html.ActionLink("Sil", "DeleteStorageCategory", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                                    <td>@Html.ActionLink("Güncelle", "UpdateStorageCategory", new { id = item.ID }, new { @class = "btn btn-success" })</td>

                                    <td>@Html.ActionLink("Kaldır", "DestroyStorageCategory", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <!-- page end-->
    </section>
</section>
<!--main content end-->