
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>FlatLab - Flat & Responsive Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Manager/OuterTools/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Manager/OuterTools/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Areas/Manager/OuterTools/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Manager/OuterTools/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Areas/Manager/OuterTools/css/owl.carousel.css" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/Areas/Manager/OuterTools/css/style.css" rel="stylesheet">
    <link href="~/Areas/Manager/OuterTools/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo">Farming &nbsp;<span>Market</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li>
                    <!-- user login dropdown start-->
                    <li>
                        <a href="@Url.Action("LogOut","Security")"><i class="icon-key"></i> Log Out</a>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="https://localhost:44317/Page/About">
                            <i class="icon-dashboard"></i>
                            <span>Siteye Git</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-laptop"></i>
                            <span>Departmanlar</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("DepartmentList","Department")">Departmanlar</a></li>
                            <li><a href="@Url.Action("AddDepartment","Department")">Departman Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-user"></i>
                            <span>Çalışanlar</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("EmployeeList","Employee")">Çalışanlar</a></li>
                            <li><a href="@Url.Action("AddEmployee","Employee")">Çalışan Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span>Ambar</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("StorageCategoryList","StorageCategory")">Ambar Kategori</a></li>
                            <li><a href="@Url.Action("AddStorageCategory","StorageCategory")">Ambar Kategori Ekle</a></li>
                            <li><a href="@Url.Action("StorageList","Storage")">Ambar Ürünleri</a></li>
                            <li><a href="@Url.Action("AddStorage","Storage")">Ambara Ürün Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span>Ürün & Kategori</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("ProductList","Product")">Ürünler</a></li>
                            <li><a href="@Url.Action("AddProduct","Product")">Ürün Ekle</a></li>
                            <li><a href="@Url.Action("CategoryList","Category")">Kategoriler</a></li>
                            <li><a href="@Url.Action("AddCategory","Category")">Kategori Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span>Tedarikçiler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("SupplierList","Supplier")">Tedarikçiler</a></li>
                            <li><a href="@Url.Action("AddSupplier","Supplier")">Tedarikçi Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-sitemap"></i>
                            <span>Kargo/Nakliye</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("ShipperList","Shipper")">Kargo/Nakliye Firmaları</a></li>
                            <li><a href="@Url.Action("AddShipper","Shipper")">Kargo/Nakliye Firması Ekle</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-book"></i>
                            <span>Blog</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("BlogList","Blog")">Blog Yazıları</a></li>
                            <li><a href="@Url.Action("AddBlog","Blog")">Blog Yazısı Ekle</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-th"></i>
                            <span>Siparişler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("OrderDetailList","OrderDetail")">Sipariş Detayları</a></li>
                            <li><a href="@Url.Action("OrderList","Order")">Siparişler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">
                            <i class="icon-envelope"></i>
                            <span>Mail </span>
                        </a>
                    </li>
                    




                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        @RenderBody()

        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2013 &copy; FlatLab by VectorLab.
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Areas/Manager/OuterTools/js/jquery.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Areas/Manager/OuterTools/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Areas/Manager/OuterTools/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Areas/Manager/OuterTools/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/owl.carousel.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/jquery.customSelect.min.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/respond.min.js"></script>


    <!--common script for all pages-->
    <script src="~/Areas/Manager/OuterTools/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/Areas/Manager/OuterTools/js/sparkline-chart.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/easy-pie-chart.js"></script>
    <script src="~/Areas/Manager/OuterTools/js/count.js"></script>

    <script>

        //owl carousel

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>

</body>
</html>
