@*@model EmployeeVM
@{
    ViewBag.Title = "EmployeeRegisterNow";
}

<body class="login-body">
    <div class="container">
        @using (Html.BeginForm("EmployeeRegisterNow", "EmployeeRegister", FormMethod.Post, new { @class = "form-signin" }))
        {
            if (ViewBag.ZatenVar != null)
            {
                <h2>@ViewBag.ZatenVar</h2>
            }
            <h2 class="form-signin-heading">Üye Olunuz</h2>
            <div class="login-wrap">
                @Html.TextBoxFor(x => x.Employee.TCNO, new { @class = "form-control", placeholder = "Tc No Giriniz" })
                @Html.TextBoxFor(x => x.Employee.FirstName, new { @class = "form-control", placeholder = "İsim Giriniz" })
                @Html.TextBoxFor(x => x.Employee.LastName, new { @class = "form-control", placeholder = "Soyisim Giriniz" })
                @Html.TextBoxFor(x => x.Employee.Email, new { @class = "form-control", placeholder = "Mail Giriniz" })
                @Html.TextBoxFor(x => x.Employee.Phone, new { @class = "form-control", placeholder = "Tel No Giriniz" })
                @Html.TextAreaFor(x => x.Employee.Address, new { @class = "form-control", placeholder = "Adres Giriniz" })
                @Html.TextBoxFor(x => x.Employee.City, new { @class = "form-control", placeholder = "Şehir Giriniz" })
                @Html.TextBoxFor(x => x.Employee.Phone, new { @class = "form-control", placeholder = "Tel No Giriniz" })
                @Html.PasswordFor(x => x.Employee.Password, new { @class = "form-control", placeholder = "Şifre belirleyiniz" })
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Resim Seçiniz</label>
                    <div class="col-sm-10">
                        <input type="file" name="resim" class="form-control genislik" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Kategori</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Employee.DepartmentID, new SelectList(Model.Departments, "ID", "DepartmentName"), "Lütfen Seçiniz")
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Rol</label>
                    <div class="col-sm-10">
                        @Html.EnumDropDownListFor(x => x.Employee.ERole, new { @class = "form-control genislik", placeholder = "Lütfen Seçiniz" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Rol</label>
                    <div class="col-sm-10">
                        @Html.EnumDropDownListFor(x => x.Employee.Gender, new { @class = "form-control genislik", placeholder = "Lütfen Seçiniz" })
                    </div>
                </div>
                <button class="btn btn-lg btn-login btn-block" type="submit">Üye Ol</button>

                <div class="registration">
                    @Html.ActionLink("Giriş Yap", "Login", "EmployeeLogin")
                </div>
            </div>
        }
    </div>
</body>*@



