@model EmployeeVM
@{
    ViewBag.Title = "Login";
}

<body class="login-body">
    <div class="container">
        @*@if (ViewBag.Mesaj != null)
        {
        <h2>@ViewBag.Mesaj</h2>
        }*@
       
        @ViewBag.KullaniciYok
        @ViewBag.Mesaj
        @using (Html.BeginForm("Login", "Security", FormMethod.Post, new { @class = "form-signin" }))
        {
            
            <h2 class="form-signin-heading">Çalışan Girişi Yapınız</h2>
            <div class="login-wrap">
                <div>
                    @Html.TextBoxFor(x => x.Employee.TCNO, new { @class = "form-control", placeholder = "Çalışan ismi giriniz" })
                </div>
                <div>

                    @Html.PasswordFor(x => x.Employee.Password, new { @class = "form-control", placeholder = "Şifre Giriniz" })
                </div>

                

                <br />
                <button class="btn btn-lg btn-login btn-block" type="submit">Giriş Yap</button>

            </div>

        }
    </div>
</body>